.footer__container {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.footer__title {
  font-family: "Archivo Black", sans-serif;
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 10px;
}
.footer__info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  color: #6d6dff;
  margin-bottom: 20px;
  text-decoration: none;
  position: relative;
}
.footer__socials {
  display: flex;
  gap: 80px;
}

.footer__social_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  border-radius: 50%;

  border: 2px solid transparent;
  transition: border 0.2s ease;
}
.footer__info::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;

  background: linear-gradient(90deg, #6d6dff, #9f9fff);

  transition: width 0.3s ease;
}

.footer__info:hover::after {
  width: 100%;
}
.footer__social_link:hover {
  box-shadow: 0 0 0 2px #6d6dff;
}

.footer__social_icon {
  width: 24px;
  height: 24px;
  transition: transform 0.2s ease;
}

.footer__background {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #6d6dff;
  filter: blur(200px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  pointer-events: none;
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 28px;
  }
}
