.main__container {
  min-height: 100vh;
  max-width: 75rem;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}

.main__skills {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 5vw, 50px);
}
.main__skills_title {
  font-family: "Archivo Black", sans-serif;
  font-size: 40px;
  line-height: 1.1;
  color: #fff;
}

.main__skill_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main__skill_icon {
  width: 50px;
  height: 50px;
}

.main__projects {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 5vw, 50px);
  margin-top: 100px;
}
.main__projects_title {
  font-family: "Archivo Black", sans-serif;
  font-size: 40px;
  line-height: 1.1;
  color: #fff;
}
.main__projects_grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  column-gap: 20px;
  position: relative;
  z-index: 1;
}

.main__projects_card {
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  position: relative;
}
.project__image_container {
  position: relative;
}
.main__projects_tech {
  position: absolute;
  bottom: 12px;
  left: 12px;
  display: flex;
  gap: 10px;
  padding: 10px;
  z-index: 2;
}
.project__tech_icon {
  width: clamp(20px, 4vw, 40px);
  height: auto;
}
.project__image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

.main__projects_card_text {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #1c1c1c;
  box-sizing: border-box;
}

.project__title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  line-height: 1.1;
  color: #fff;
  font-weight: bold;
}

.project__info {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
.project__links {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  gap: 20px;
}

.project__link {
  display: inline-block;
  cursor: pointer;
  padding: 5px;
}

.project__link_icon {
  display: block;
}

.project__link:hover .project__link_icon {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .main__projects_grids {
    grid-template-columns: 1fr;
    align-items: center;
  }

  .main__container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .project__info {
    font-size: 16px;
  }

  .main__skills_title {
    font-size: 28px;
  }

  .main__projects_title {
    font-size: 28px;
  }
  .project__title {
    font-size: 20px;
  }
  .project__info {
    font-size: 16px;
  }

  .main__skill_icons {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .main__skill_icon {
    width: 30px;
    height: 30px;
  }
}
